#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  width: 800px;
  height: 800px;
  background-color: blue;
}

#chessboard .tile {
  width: 100px;
  height: 100px;
}

#chessboard .black-tile {
  background-color: #779556;
}

#chessboard .white-tile {
  background-color: #ebecd0;
}

#pawn-promotion-modal {
  height: 300px;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  width: 800px;
  top: calc(50% - 150px);
  left: calc(50% - 400px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#pawn-promotion-modal > img {
  height: 120px;
  padding: 20px;
  border-radius: 50%;
}


#pawn-promotion-modal > img:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.5);
}